body {
    margin: 0;
  }
  .header-container{
    display: flex;
    padding: 0.5rem 1 rem;
    justify-content: space-between;
    align-items: center;
  }
  
  header{
    position: relative;
    z-index: 10;
    background: #293133;
    height: 120px;
    overflow: hidden;
  }

  header img {
    height: 60px;
    vertical-align: middle;
  }
  
  h1 {
    color:#293133;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color:#01D758;
    font-family: Inder;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
  }
  .logo-title {
    margin-left: 2rem;
    display: flex;
    align-items: flex-start;
    font-size: 50px;
    font-family: Inder, sans-serif;
    color: #293133;
    -webkit-text-stroke: 0.5 px #01D758;
  }

.ride {
  margin-top: 20px;
}
.icone {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-right: 2rem;
  }
  .head {
  position: relative;
  height: 500px;
  overflow: visible;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 6rem;
}
.big-image {
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  height: 700px;
  background-size: cover;
  background-position: bottom;
  filter: opacity(0.5);
  z-index: 0;
}
.head img{
    width: 100%;
    height: 600px;
    object-fit: cover;
    object-position: bottom;
    display: block;
  }

  .titre-detail {
    color: #293133;
    width: 100%;
    max-width: 800px;
    border-radius: 15px;
    padding: 1rem 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    box-sizing: border-box;
    position: relative;
  }



  .fiche-conducteur {
  margin-top: 6rem;
  width: 100vw;;
  padding: 0.5rem;
  background-color:#048B9A ;
  border-radius: 20px;
  padding: 2rem;
  max-width: 320px;
  margin: 2rem auto;
  text-align: center;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 2;
}

.fiche-conducteur .conducteur-photo {
  position: absolute;
  bottom: 10rem;
  width: 180px;
  height: 220px;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  margin-bottom: 1rem;
}

.fiche-conducteur .prenom {
  font-size: 24px;
  font-weight: bold;
  color: #293133;
  margin: 0.5rem 0;
  font-family: "Inria Sans", sans-serif;
}

.fiche-conducteur .stars {
  font-size: 20px;
  margin-bottom: 1rem;
}

.fiche-conducteur {
  width: 100vw;
  background-color: #048b9a;
  box-sizing: border-box;
  color: #293133;
  font-size: 18px;
  font-weight: bold;
  border-radius: 12px;
  text-decoration: none;
}


.btn-participe{
    background-color: #01D758;
    color: #293133;
    padding: 1.5rem;
    font-size: 26px;
    border: 1px solid #293133;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    text-decoration: none;
}
footer {
  background-color: #293133;
  padding: 1rem 2rem;
  font-family: inder, sans-serif;
  color: white;
}

footer h1.footer-container {
  color: (#293133);
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #01D758;
  font-family: Inder, sans-serif;
  font-size: 40px;
  font-weight: 400;
  display: inline-flex;
  align-items: flex-start;
  gap: 5px;
  margin: 0;
}

footer h1.footer-container img{
  height: 50px;
  vertical-align: middle;
}

footer h1.footer-container .ride{
  margin-top: 20px;
}
.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.email, .mentions{
  margin: 0;
}
