{% extends 'base.html.twig' %}

{% block title %}Mon Profil - EcoRide{% endblock %}

{% block body %}
<div class="container py-5">

  <div class="row">
    {% include 'pages/profile/_composants/_profile/_profile.html.twig' %}

    <div class="col-md-8">
      {% include 'pages/profile/_composants/_cars/_cars.html.twig' %}
      {% include 'pages/profile/_composants/_trips/_trip.html.twig' %}
      {% include 'pages/profile/_composants/_payment/_payment.html.twig' %}
    </div>
  </div>
</div>

{% endblock %}
