<div class="card shadow-lg border-2 border-success">
        <div class="card-header bg-light text-dark border-0">
          <h5 class="mb-0">💰 Historique des paiements</h5>
        </div>
        <div class="card-body">
          <table class="table table-sm">
            <thead>
              <tr>
                <th>Date</th>
                <th>Trajet</th>
                <th>Montant</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>02/11/2025</td>
                <td>Lille → Lyon</td>
                <td>+ 25 €</td>
              </tr>
              <tr>
                <td>28/10/2025</td>
                <td>Paris → Lille</td>
                <td>+ 30 €</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>