<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div style="height:500px; overflow:hidden;">
        <img src="{{ asset('assets/img/car-pa.jpg') }}" class="w-100 h-100 object-fit-cover" alt="voiture qui roule sur une route">
      </div>
      <div class="carousel-caption d-none d-md-block" style="text-shadow: 10px 10px 10px #FFFFFF; color: var(--bs-dark);">
          <h5 class="fs-1">Partagez la route</h5>
          <p class="fs-3">Protégez l'avenir.</p>
      </div>
    </div>
    <div class="carousel-item">
      <div style="height:500px; overflow:hidden;">
        <img src="{{ asset('assets/img/route.jpg') }}" class="w-100 h-100 object-fit-cover" alt="route de campagne">
      </div>
      <div class="carousel-caption d-none d-md-block" style="text-shadow: 10px 10px 10px #FFFFFF; color: var(--bs-dark);">
          <h5 class="fs-1">EcoRide</h5>
          <p class="fs-3">Le covoiturage qui respecte la planéte.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>